## Data Type - String

In [3]:
# Indexing : is a position which is given to each and every element. Indexing start by 0 (by default)

string ="abcdefgh"
#........01234567

In [4]:
#Return count of characters

len(string)

8

In [5]:
# Return 1st character of the string

string[0]

'a'

In [6]:
# Return 6th character of the string

string[5] # Index starts from 0

'f'

In [8]:
# If index is out of range then get an error : IndexError: string index out of range

string[9]

IndexError: string index out of range

In [9]:
# Return first 4 charcters of the string

string[0:4]

string[:4]

'abcd'

In [10]:
# return 4th character to till End Index

string[4:]

'efgh'

In [13]:
# String can use Negative Indexing
#  string ="a     b   c   d   e    f   g   h"
#  .........-8   -7  -6  -5  -4   -3  -2  -1 

string

# remove last character
string[:-1]

# remove last 2 characters
string[:-2]


# remove last 7 characters
string[:-7]

'a'

In [16]:
# Replace() Function : replace a specified phrase/character with another specified phrase/character.

string.replace("f", 'g')

string1 = "This is my Country"
string1.replace("Country", "India")

'This is my India'

In [17]:
string1

'This is my Country'

## Tuples
    A sequence of immutable Python Objects
####    Rules
    1) Tuples can store different type of dataype, 
    2) Represent as (), 
    3) Tuples is Ordered means start the index from 0
    4) It can hold duplicate values
    
####    Use Cases (store the value which could not change): 
    1. Store Week Days data
    2. Store RGB Color data

In [18]:
# Declare Tuples

weeks = ('Sunday', 'Monday', 'Tuesday', 'Wednessday', 'Thursday', 'Firday', 'Saturday')

weeks = 'Sunday', 'Monday', 'Tuesday', 'Wednessday', 'Thursday', 'Firday', 'Saturday'

# Declare Empty Tuple

Tup = tuple()
Tup = ()
Tup

()

In [20]:
type(weeks)

type(Tup)

tuple

In [21]:
# Return the 1st element value
weeks[0]

# Return the 2nd element value
weeks[1]

'Monday'

In [23]:
 # You can not assign values in Tuples
    
weeks[6] ="New Tuple Value" 

weeks

TypeError: 'tuple' object does not support item assignment

In [24]:
# It stores different type of DataTypes

tup = ("Hello", 4.5, 6.7, 23, 34, 23, 90, 8.9, 6.7,"Hii", True, False)
type(tup)

tuple

In [28]:
# Tuples can use Negative Indexing

# remove last item
tup[0:-1] 
tup[:-1]

('Hello', 4.5, 6.7, 23, 34, 23, 90, 8.9, 6.7, 'Hii', True)

In [29]:
tup

('Hello', 4.5, 6.7, 23, 34, 23, 90, 8.9, 6.7, 'Hii', True, False)

## Lists
    A Sequence of mutable objects
#### Rules
    1) Store different type of datatypes, 
    2) Represent as [ ], 
    3) Lists is Ordered, 
    4) It can hold duplicate values
#### Use Case : 
    1. Attendance of employee of each days 
    2. Employee Salary

In [30]:
# Declare List
lst = [67, 45, 34, 90, 6, 8, 9,8, "Hi", "Hello", True, False]

salaries = [10000, 20000, 3000]
type(salaries)

list

In [31]:
# Declare Empty List

Emp_lst = []  #  [] is faster than list()
lst = list()

In [32]:
# Add 8000 Rs in first person's salary

salaries[0] = salaries[0] + 8000 # or salaries[0] += 8000
salaries

[18000, 20000, 3000]

In [33]:
# Store List & Tuple inside the List

mixed = [1, 'a', 1.5, [155, 'b'], (88, 7777)]
type(mixed)

list

In [34]:
# Insert() Function - current value would be shifted in next index and will add the value in the given index

lst.insert(3, 100)
lst

[67, 45, 34, 100, 90, 6, 8, 9, 8, 'Hi', 'Hello', True, False]

In [35]:
emp_lst = []
emp_lst.insert(0, "First Element")
emp_lst.insert(1, "Second Element")
emp_lst.insert(2, "Third Element")
emp_lst

['First Element', 'Second Element', 'Third Element']

In [36]:
# Append() Function - add the particular value at the end

lst.append(102)
lst

[67, 45, 34, 100, 90, 6, 8, 9, 8, 'Hi', 'Hello', True, False, 102]

In [38]:
# Remove() Function - remove a particulat element. Pass the value, not indexing

lst.remove(102)
lst

[67, 45, 34, 100, 90, 6, 8, 9, 8, 'Hi', 'Hello', True, False]

In [39]:
# Pop() Function - remove the last value
lst.pop()

# Remove at the begining of the list
lst.pop(0) 
lst

[45, 34, 100, 90, 6, 8, 9, 8, 'Hi', 'Hello', True]

In [40]:
# Max() and Min() Function - work on numerical data only in the List, 
#                          - if List is stored multiple data type then these functions will not work

lst = [90.56, 8, 9, 2, 5, 45, 86]

max(lst) 

min(lst)

2

In [52]:
# The simplest difference between sort() and sorted() function is: 

# sort() changes the list directly and doesn't return any value, 
# sorted() - doesn't change the list and returns the sorted list. 
#          - sorted() method sorts the given sequence as well as set and dictionary(which is not a sequence) 
#            either in ascending order or in descending order(does unicode comparison for string char by char) 
#          - and always returns the a sorted list. 
#          - This method doesnâ€™t effect the original sequence.


#### -------------Sort-----------------########
numbers = [1, 3, 4, 2]
numbers.sort()

# sort a string in reverse order
numbers.sort(reverse=True)

print(numbers)



words = ["Geeks", "Iron", "For", "Geeks", ]
words.sort()

print(words)


#### -------------Sorted-----------------########

L = [4, 2, 3, 1, 5]

print("Sorted List: ", sorted(L))

# reverse sorted list

print("Reverse Sorted List: ", sorted(L, reverse=True))

print("Original list after sorting:", L)

[4, 3, 2, 1]
['For', 'Geeks', 'Geeks', 'Iron']
Sorted List:  [1, 2, 3, 4, 5]
Reverse Sorted List:  [5, 4, 3, 2, 1]
Original list after sorting: [4, 2, 3, 1, 5]